[tool.poetry]
name = "xarray-multiscale"
version = "0.1.1"
description = ""
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
xarray = "^0.16.1"
mypy = "^0.790"
scipy = "^1.5.4"
numpy = "^1.19.4"
dask = "^^2020.12.0"
cytoolz = "^0.11.0"
dacite = "^1.6.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = "^20.8b1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
